:root {
    --columnNumber: 10;
}
.container {
  display: grid;
  grid-template-columns: 15% 85%;
}
#sideBar{
  background-color: #ddd;
}
#grid {
  border: 2px solid black;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(var(--columnNumber), 1fr);
}

div {
  background-color: #eee;
  border: 2px solid black;
  margin: 1px;
  display: inline-block;
}
